extends layout

block content  
    .container
        .row.bar
            p#addbook
                a(href='/new')  Add Book
    .row
        each book in Data
            .col-xs-6.col-md-4
                ul.booklist
                    li.bookimage 
                        img(src=book.img style='height:410px;')
                        br
                    li.data 
                        a(href=`/book-info/${book._id}`) #{book.name}
                    li.data #{book.author}
                    li.data Price $#{book.price}
                    li.data.views Views #{book.views}
                    li.data.buy Buy
